<head><script type='text/javascript'>
  window.__lo_site_id = 272670;

    (function() {
      var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
      wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
      })();
    </script>
    </head>
    <div id="jj" class="faq">
<h1 class="gros-Titre">Foire aux Questions (FAQ)</h1>
<hr>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        A quoi sert WhatTheFilm ?
      </h2>
    </mat-expansion-panel-header>
    <p>WhatTheFilm propose une recommandation de trois films/séries en fonction des tendances du moment ou des intérêts de l'utilisateur</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Combien coûte What The Film ?
      </h2>
    </mat-expansion-panel-header>
    <p>L'utilisation de notre application est totalement gratuite.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment puis-je m'inscire sur WhatTheFilm
      </h2>
    </mat-expansion-panel-header>
    <p>En cliquant sur le bouton "s'inscrire/se connecter" visible au milieu de la page principale</p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        J'ai oublié mon mot de passe/identifiant, que faire ?
      </h2>
    </mat-expansion-panel-header>
    <p>Merci de contacter l'administrateur de la plateforme en envoyant un mail à cette adresse : julien.godest@etu.univ-lyon1.fr  </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment retrouver ses films recommandés ?
      </h2>
    </mat-expansion-panel-header>
    <p>Sur la page d'accueil, vous pourrez retrouver l'ensemble de vos films/séries recommandés et en tendances</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Combien de temps sont conservées mes données ?
      </h2>
    </mat-expansion-panel-header>
    <p> A vie </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Puis-je changer des informations sur mon compte ?
      </h2>
    </mat-expansion-panel-header>
    <p>Oui, sur votre profil</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment regarder un film suggéré ?
      </h2>
    </mat-expansion-panel-header>
    <p> Quand vous êtes sur la page détaillé d'un film, en cliquant sur le logo de la plateforme</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment trouver des films selon vos envies ?
      </h2>
    </mat-expansion-panel-header>
    <p>En allant sur le formulaire de recherche.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Qui sont les fondateurs du projet ?
      </h2>
    </mat-expansion-panel-header>


    <p>  <a routerLink="/quisommesnous">Cliquer ici pour découvrir les fondateurs</a> </p>

  </mat-expansion-panel>
</mat-accordion>
</div>



