<div class="footer"  *ngIf="nav.visible">

  <mat-toolbar  color="primary">
    <mat-toolbar-row >

      <div class="example-spacer">
        <a routerLink="/quisommesnous"> QUI SOMMES-NOUS ? </a>
        <a>SUIVEZ-NOUS</a>
        <a routerLink="/faq">FAQ</a>

      </div>
      </mat-toolbar-row>
    <mat-toolbar-row >
      <div class="reseau-sociaux">
      <a href="https://fr-fr.facebook.com/" target="_blank"><img src="https://media.discordapp.net/attachments/755462909911629907/757988245790261479/353422-facebook-logo_107496.png"></a>
      <a href="https://www.youtube.com/channel/UC3sOpUyl7i4EnOu1xVVw8Zw" target="_blank"><img src="https://media.discordapp.net/attachments/755462909911629907/757988250110525550/Youtube_Rounded_Solid_icon-icons.com_61558.png"></a>
      <a href="https://www.linkedin.com/feed/" target="_blank"><img src="https://media.discordapp.net/attachments/755462909911629907/757988254971592754/353425-linkedin-logo_107480.png"></a>
      <a href="https://www.instagram.com/whathefilm_suggestions/" target="_blank"><img src=" https://media.discordapp.net/attachments/755462909911629907/757988258440544338/353424-instagram-logo_107474.png"></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

