<head><script type='text/javascript'>
  window.__lo_site_id = 272670;

    (function() {
      var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
      wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
      })();
    </script>
    </head>
    <div class="qsn">
  <h1 class="gros-Titre">Qui sommes-nous ? </h1>
  <hr />

  <div class="presentation">
    <img class="logo" src="https://media.discordapp.net/attachments/755462909911629907/758576848434102283/logo_quiSommesNous.PNG">
    <p class="titre">Un projet ambitieux...</p>
    <p class="paragraphe">Tout débuta de la fusion des idées de 6 inconnus qui décidèrent de collaborer ensemble dans le cadre d'un projet universitaire. Nous venions de différents parcours scolaires et horizons. Nos profils uniques ont enrichit notre synergie.</p>
    <p class="paragraphe"> L'objectif de What The Film est d'effectuer les meilleurs suggestions de films en rapport avec les tendances et les intérêts de chacun de nos utilisateurs. Au delà du projet universitaire, nous tendons à développer et faire connaître notre outil à travers la France.</p>
    <div class="blank"></div>
    <p class="titre">Découvrez les membres de l'équipe...</p>
    <p class="paragraphe"></p>
    <div id="textbox">
      <div class="alignright" >
        <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><p class="titre">AUBERT Baptiste</p></mat-card-title>
          <mat-card-subtitle><p class="des"> Développeur Django </p></mat-card-subtitle>
          <div mat-card-avatar class="photo-bap"></div>
        </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div id="textbox">
      <div class="alignleft" >
        <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><p class="titre">GODEST Julien</p></mat-card-title>
          <mat-card-subtitle><p class="des">Développeur Angular</p></mat-card-subtitle>
          <div mat-card-avatar class="photo-julien"></div>
        </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div id="textbox">
      <div class="alignright">
        <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><p class="titre">HUA Julie</p></mat-card-title>
          <mat-card-subtitle><p class="des">Développeuse Angular</p></mat-card-subtitle>
          <div mat-card-avatar class="photo-julie"></div>
        </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div id="textbox">
      <div class="alignleft">
        <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><p class="titre">MARTINEZ Rémi</p></mat-card-title>
          <mat-card-subtitle><p class="des">Développeur Django</p></mat-card-subtitle>
          <div mat-card-avatar class="photo-remi"></div>
        </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div id="textbox">
      <div class="alignright">
        <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><p class="titre">PETRAZ Alexis</p></mat-card-title>
          <mat-card-subtitle><p class="des">Développeur Angular</p></mat-card-subtitle>
          <div mat-card-avatar class="photo-alexis"></div>
        </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div id="textbox">
      <div class="alignleft">
        <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><p class="titre">TRUONG Vinh-Phuc</p></mat-card-title>
          <mat-card-subtitle><p class="des">Développeur Django, UX design </p></mat-card-subtitle>
          <div mat-card-avatar class="photo-vinh"></div>
        </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="blank"></div>
    <div class="blank"></div>
    <p class="titre">Mentions légales</p>
    <p class="mentionslegales">L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle.
      Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques.
      La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement interdite sauf autorisation expresse du directeur de la publication.
     </p>
      <p class="mentionslegales">Afin d’améliorer l’interactivité et la performance du site et de l’ensemble de nos services, nous avons recours à des traceurs, communément appelés cookies, pour collecter certaines données, présentes dans votre terminal, ou y inscrire des informations.
        En conséquence, vous êtes informés par un bandeau, lors de votre première connexion sur notre site, que vous acceptez ou refusez l’installation de ces cookies sur votre équipement par la poursuite de la navigation. Sans action de votre part, nous considérons que vous refusez.
     </p>
     <p class="mentionslegales">
      Des liens, publiés sur le présent site, vous permettront d’avoir accès à d’autres sites Internet (plateformes de contenus audiovisuel à la demande), ne relevant pas de la responsabilité de What The Film. L’accès à ces sites, qui ne sont pas sous notre contrôle, se fait à vos propres risques.
   </p>
   <div class="center">
   <img class="cat" src="https://cdn.discordapp.com/attachments/755462909911629907/758576853375778867/nyan_cat_for_QSN.png">
  </div>
  </div>
</div>



