<head><script type='text/javascript'>
  window.__lo_site_id = 272670;

    (function() {
      var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
      wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
      })();
    </script>
    </head>
    <div *ngIf="spinner" class="main-content">
      <mat-spinner style="margin-left: 20%; margin-bottom: 10%;"></mat-spinner>
    </div>
    <div *ngIf="!spinner" class="main-content">
  <button class="return" (click)="goBack()" mat-stroked-button><mat-icon>arrow_left_alt</mat-icon>Retour</button>
  <section class="container" style="padding-top: 3%;">
    <div style="width: 22%; height: 80%; float:left;">
      <div *ngIf="video?.poster" class="d" style="position: relative; text-align: center;">
        <img src="http://image.tmdb.org/t/p/w780/{{video?.poster}}">
      </div>
      <div *ngIf="!video?.poster" class="d" style="position: relative; text-align: center;">
        <img src="/assets/images/wtf_unique_final_trans.png">
      </div>
       <div style="position: relative; text-align: center; margin-top: 10px;">
        <button [id]="'fav_' + video?.id_video " (click)="addFav(video?.id_video)"  mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div *ngIf="isTrailer"
      style="position: relative; text-align: center; margin-top: 30px;">
        <button class="button" mat-stroked-button (click)="redirectUrl(video.trailer)">Watch the Trailer</button>
      </div>
      <div *ngIf="moyenneRating" style="position: relative; text-align: center; margin-top: 30px;">
        <p style="text-align: center;">Moyenne : {{moyenneRating}} / 5</p>
      </div>
      <div style="position: relative; text-align: center; margin-top: 16px;">
        <button class="button" mat-stroked-button (click)="showHide()">SCORE !</button>
        <div [id]="video?.id_video" [hidden]="starVisible" style= "margin-top:20px">
          <p-rating *ngIf="actualRating" [iconOnStyle]="{'color':'rgb(93,84,164)'}" [(ngModel)]="actualRating.note" [cancel]="false" (onRate)="postRate($event, video)"></p-rating>
        </div>
      </div>
    </div>
    <div style="width: 4%; height: 80%; float:left;"></div>
    <div style="width: 75%; height: 80%; float:right;">
      <h1>{{video?.titre | uppercase}} ({{video?.date_sortie | date:'yyyy'}})</h1>
      <div class="vignette">
        <button class="button" mat-stroked-button disabled>FILM</button>
      </div>
      <p></p>
      <p><span class="purple">Durée : </span> {{ video?.duree|minuteSeconds }}</p>
      <p><span class="purple">Date de sortie :</span> {{video?.date_sortie | date:'d/M/yyyy'}}</p>
      <p><span class="purple">Langue original : </span>{{video?.vo}}</p>
      <p *ngIf="video?.categories.length > 0"><span class="purple">Catégorie : </span><span *ngFor="let categorie of video?.categories"> {{categorie.libelle}}<span *ngIf="categorie != video?.categories[video.categories.length - 1]">,</span></span></p>
      <p *ngIf="video?.productions.length > 0"><span class="purple">Société de production : </span><span *ngFor="let prod of video?.productions"> {{prod.nom}}<span *ngIf="prod != video?.productions[video.productions.length - 1]">,</span></span></p>
      <p *ngIf="video?.directeurs.length > 0"><span class="purple">Réalisateur: </span><span *ngFor="let directeur of video?.directeurs"> {{directeur.nom}}<span *ngIf="directeur != video?.directeurs[video.directeurs.length - 1]">,</span></span></p>
      <p *ngIf="video?.acteurs.length > 0"><span class="purple">Stars : </span><span *ngFor="let acteur of video?.acteurs"> {{acteur.prenom}} {{acteur.nom}} <span *ngIf="acteur != video?.acteurs[video.acteurs.length - 1]">,</span></span></p>
      <p><span class="purple">Synopsis : </span> {{video?.plot}}</p>
      <p style="margin-top: 3%">
        <ul class="cards">
          <li class="cards_item" *ngFor="let plateforme of video?.plateformes">
            <div class="card">
              <div class="card_content">
                <button (click)="redirectUrl(plateforme.redirection)" mat-stroked-button><img src="http://image.tmdb.org/t/p/w780/{{plateforme?.logo}}">
                </button>
              </div>
            </div>
          </li>
        </ul>
        </div>
    <div style="width: 100%; height: 1%; clear:both"></div>
  </section>
</div>
